p {
font-size: 1.5vw;
}

form {
    text-align: left;
    margin: 5% 15%;
}
ul {
    list-style-type: none;
}
footer {
    font-size: 1.3vw;
}



.container-sm {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    text-align: center;
    border: 0.5px solid black;
    box-shadow: 2px 3px 3px grey;
    width: 60%;
    height: 100%;
    border-radius: 5%;
    padding: 5% 10%;
}
.searchBar {
    padding: 3% 7%;
    margin: 1% 2%;
    border-radius: 10px;
    border: 1px solid #FDBF68;
    font-size: 1.5vw;
}
.submit {
    padding: 2% 3%;  
    border-radius: 15%;
    font-size: 1.5vw;
    color: #FDBF68;
}
.submit:hover {
    background-color: #FDBF68;
    color: white;
    transition: all 200ms ease-in-out;

}
.locationLink {
    margin: 4%;
    padding: 2% 1%;
    transition: all 200ms ease-in-out;
}
.fa-map-marker-alt {
    color: black;
    font-size: 1.5vw;
    transition: all 200ms ease-in-out;
}
.fa-map-marker-alt:hover {
    color: #FDBF68;
    font-size: 2vw;

}
.currentCondition {
 border-radius: 40%;
}
.city {
    font-size: 3vw;
    font-weight: 500;
    text-transform: capitalize;
}

.rightNow {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-weight: 500;
}

a.active  {
    color: black;
    cursor: default;
}
a.active:hover {
    text-decoration: none;
    color: black;
    cursor: default;
}

.minmaxToday {
    font-size: 1.8vw;
    font-weight: 400;
}
#description {
    text-transform: capitalize;
}

.currentIcon {
    width: 60%;
}
.comingHour {
    margin: 10% 1%;
    border-radius: 20px;
    padding: 2%;
    transition: all 200ms ease-in-out;
    font-size: 1.5vw;
}
.comingHour:hover, .condition:hover, .Sunrise:hover, .Sunset:hover, .comingDay:hover {
    border: 0.2px solid black;
    background-color: #FDBF68;
    box-shadow: 3px 3px 4px grey;
}
.comHourIcon {
    width: 60%;
}
.conditions {
    text-align: left;
    font-size: 2vw;
}
.condition {
    margin: 3% 0 3% 5%;
    border-radius: 10px;
    padding: 1% 1%; 
    width: 70%;
    transition: all 200ms ease-in-out;
}
.conditionIcon {
    width: 10%;
}
.Sunrise, .Sunset {
    border-radius: 20px;
    padding: 1% 1%; 
    margin: 0 2%;
    transition: all 200ms ease-in-out;
    font-size: 1.5vw;
}
.sunriseIcon {
    width: 50%;
}
.sunsetIcon {
    width: 50%;
}
.comDayTitle {
    font-size: 1.8vw;
}
.comingDays {
    margin: 10% 5% 10% 5%;
    width: 65%;
    font-size: 1.5vw;
}
.comingDay {
    margin: 15% 15%;
    border-radius: 20px;
    padding: 5% 0;
    transition: all 200ms ease-in-out;
    
}
.comDayIcon {
    width: 30%;
}
.changImage {
    width: 70%; 
}